@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
header div {
  transition-property: height, opacity, transform;
}

/* Ensures circle animations and hero transitions feel smooth */
* {
  transition-property: opacity, transform, background-color, color;
  transition-timing-function: ease-out;
}



